*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:#000;
}
#nav{
    height: 140px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

#nav-prt2{
    display: flex;
    /* background-color: blue; */
    width: 50%;
    align-items: center;
    justify-content: space-between;

}
#nav h1{
    font-size: 25px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#nav i{
    font-size: 20px;
    margin-right: 5px;
}
#nav i:hover{
    color: red;
    font-style:bold;
}
#nav h1 i:hover{
    color: red;
    font-style:bold;
}
#nav h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
#nav-prt2 h5:hover{
    color: red;
    font-style: bold;
}
#nav img{
   height: 100px;
}
#line{
    width: 60px;
    height: 3px;
    background-color: red;
}
#content{
    height: calc(100% - 140px);
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    position: relative;
    justify-content: space-between;
}
#left{
    height: 80%;
    width: 41%;
    /* background-color: red; */
    padding: 75px 100px;
    margin-bottom: 5%;
}
#right{
    height: 100%;
    width:36%;
    /* background-color: red; */
    padding: 180px 80px;
}
#center{
    height: 100%;
    width: 22%;
    /* background-color:red; */
    padding-top: 15px;
}
#left h1{
    font-size: 45px;
    line-height: 45px;
    font-weight: 800;
    margin-bottom: 5%;
}
#left h1 span{
    color: red;
    font-weight: 550;
}
#left p{
    font-size: 15px;
    width: 80%;
    line-height: 25px;
    margin-bottom: 10%;
    font-weight: 50;
}
#left button{
    background-color: red;
    padding: 15px 22px;
    border-radius: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 700;
    border-color: red;
}

#left button i{
    margin-right: 15px;
}
#left button:hover{
    background-color: darkred;
    font-style: bold;
}  
#heart i{
    /* background-color: rgb(9, 255, 0); */
    position: relative;
    left: 170px;
    bottom: 36px;
    font-size: 20px;
    color: red;
}
#center-bg{
    /* background-color: blue; */
    height: 85%;
    width: 100%;
    border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(bg.png);
    background-size: 300%;
    background-position: 30% 80%;
    filter: blur(1px);
}
#content>img{
    height: 100%;
    bottom: 30px;
    
    position: absolute;
    left: 52%;
    z-index: 100;
    transform: translate(-50%,-0);
}
#right-elems{
    /* background-color: red; */
    width: 330px;
    
}
#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    /* background-color: blue; */
    opacity: 0.6;
    border-bottom:2px solid white;

}
#elem1 h1:hover{
    color: red;
    font-style:bold;
}
#elem1 i:hover{
    color: red;
    font-style:bold;
}
#elem1 h1{
    font-size: 18px;
    font-weight: 600;
}
#elem1 i{
    font-size: 19px;
}
#elem2 h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 12px;
}
#elem2 h1:hover{
    color: red;
    font-style: bold;
}
#elem2 p{
    font-size: 11px;
    width: 80%;
    opacity: 0.6;
}